footer {
  box-shadow: rgb(0 0 0 / 46%) 0 5px 15px 0;

  span {
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    color: grey;
    margin: 19px 0 0;
  }
}

.footer-content-1 {
  background-image: url(/public/svg/topography.svg);
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 10px 30px;
  border-bottom: 1px solid #0000001a;

  h1 {
    font-size: 17px;
    color: #b6b6b6;
  }
}

.footer-content-2 {
  padding: 30px;
  height: 84%;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .footer-content-2-box {
    display: flex;
    justify-content: space-between;
  }

  p {
    margin-bottom: 7px;
    margin-top: 0;
    color: #7c7c7c;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
  }

  i {
    font-size: 18px;
    color: #3b3b3bf7;
    margin-right: 10px;
    cursor: pointer;
  }

  h4 {
    color: black;
    font-size: 16px;
  }

  .contact-box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    p {
      margin: 0;
    }
  }
}

.footer-content-contact {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  p {
    color: black;
  }
}

.footer-content-about {
  width: 33%;
  text-align: center;

  h4 {
    margin-top: 0;
  }
}

.footer-content-button {
  width: 20%;
  text-align: center;

  h4 {
    margin-top: 0;
  }

  button {
    border: none;
    outline: none;
    padding: 10px;
    color: black;
    background: #ffc107c7;
    font-size: 13px;
    border-radius: 10px;
    width: 7rem;
    cursor: pointer;
    margin-top: 10px;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      background: #ffc107;
    }
  }
}

@media (max-width: 700px) {
  .footer-content-2 {
    .footer-content-2-box {
      flex-direction: column;
    }
  }

  .footer-content-contact {
    width: auto;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
  }

  .footer-content-about {
    width: auto;
    margin-bottom: 30px;

    h4 {
      margin-bottom: 5px;
    }
  }

  .footer-content-button {
    width: auto;

    h4 {
      margin-bottom: 5px;
    }
  }
}

@media (max-width: 600px) {
  .footer-content-button {
    button {
      background: #ffc107;
    }
  }
}
