.home-section-first {
  position: relative;
  background-size: cover;
  flex-direction: column;
  display: flex;
  background-repeat: no-repeat;
  max-height: 32rem;
  height: 27rem;
  padding: 50px 40px;
  background-image: url(public/images/img-3.jpg);
  background-color: #cbe9ff;

  .content {
    width: 40%;
    z-index: 2;

    h1 {
      font-size: 3rem;
      margin-top: 0;
      color: white;
    }

    p {
      font-size: 25px;
      margin: 0;
      color: white;
    }
  }

  img {
    max-width: 50%;
    position: relative;
    left: 40%;
    top: 11%;
  }
}

//Tablet

@media (max-width: 950px) {
  .home-section-first {
    .content {
      width: 50%;

      h1 {
        font-size: 5vw;
      }

      p {
        font-size: 21px;
      }
    }
  }
}

.fog {
  position: absolute;
  background: url(public/images/fog.png);
  background-repeat: no-repeat;
  transform: rotate(180deg);
  background-size: 225%;
  animation: roll-it 90s linear infinite;
  width: 100%;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
}

//Mobile
@media (max-width: 500px) {
  .home-section-first {
    .content {
      width: 70%;

      h1 {
        font-size: 37px;
      }

      p {
        font-size: 15px;
      }
    }
  }

  .fog {
    background-size: 300%;
  }
}

@keyframes roll-it {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
