@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  font-family: Rubik, sans-serif;
  box-sizing: border-box;
  font-size: 100px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
